.contenedor {
  padding: 4em 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  /*
  flex-wrap: wrap-reverse; --> saltos de línea del contenido 
  en sentido inverso
  */
  justify-content: center;
  /*align-items: flex-start ; /*por defecto es strech. Los elementos se estiran con el contenedor*/
}

.explorador {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 1em;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}

.exp6 {
  /* flex-shrink: 1; */
  flex-grow: 1;
  flex-basis: 300px; /*es como un width*/
  order: 1;  /* positivo al final. El cambio de orden es visual. Los lectores de texto no los detectan*/
}

body {
  background: linear-gradient(38deg, #000428, #004e92);
}
