@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,800");

:root {
    --color-texto: rgb(77, 72, 7);
    --fuente: "EB Garamount";
    --color-sepia-oscuro: rgb(119, 106, 68);
}


img {
    max-width: 100%;
  }

body {
    color: var(--color-texto);
    font: 1.5em/1.4 var(--fuente);
    margin: 0;
    padding: 0;
    background-color: rgb(255, 251, 240);
}

h1 {
    font-size: 10vw;
    line-height: 85%;
    margin: 0;
}


h4 {
    font-size: 4vw;
    margin: 0;
}


@media (max-width: 37.5rem) {
    h1 {
      font-size: 3em;
    }
    
      h4 {
      font-size: 1em;
    }
  }

p {
    font: 1.4em;
}


.cabecera {
    display: flex;
    background: linear-gradient(38deg, #47bff7, #004e92);
    justify-content: space-between;
    position: relative;
}

.cabecera-titulo {
    position: absolute;
    top: 40%;
    text-align: center;
    margin-bottom: 2vh;
}



.cabecera-imagen {
    height: 100vh;
    width: 100%;
}

.cabecera-imagen img {
    height: 100%;  /*La imagen  ocupa el 100% del tamaño del div con ehight y weigth al 100%*/
    width: 100%;
    object-fit: cover; /* se nota cuando son dos imagenes  */
    object-position: center top;
}

img {
    display: block;
    opacity: 0.4;
    filter: grayscale(100%);
  }

.cuento {
    /* margin: 5em auto;
    padding: 0 3em; */
    max-width: 54em;
    margin: 5em auto;
    padding: 0 3em;
}

.cuento-entradilla {
    column-count: 2;
    column-gap: 3em;
    column-rule: thick solid rgba(0, 78, 146, .05);
    text-align: justify;
    color: var(--color-sepia-oscuro);
    font-weight: 600;
    font-size: 115%;
    hyphens: auto;
}

@media (max-width: 37.5rem) {
    .cuento-entradilla {
        column-count: 1;
    }

    .cuento {
        padding: 0 2em;
    }
}

.cuento-cuerpo {
    max-width: 34em;
    margin: auto; /* mismo margen para cada lado */
}

.cuento-cuerpo > p:first-child::first-letter  {
    color: #004e92;
    font-size: 12rem;    
    line-height: .75;
    float: left;
    padding-right: 1rem;
    padding-right: 1rem;
}

.imagen-con-forma {
    shape-margin: 1em;
    margin-right: 1em;
    float: left;
    margin-left: -4em;
    background-color: var(--color-sepia-oscuro);
}


@media (max-width: 37.5rem) {
    .imagen-con-forma.imagen-con-forma {
        shape-outside: unset;
        margin: 1em;
    }
}

.imagen-bevel {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    shape-outside: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%) border-box;
}

.imagen-armario {
    clip-path: polygon(23% 83%, 34% 91%, 75% 86%, 77% 25%, 80% 19%, 33% 15%, 22% 20%, 23% 27%);
    shape-outside: polygon(23% 83%, 34% 91%, 75% 86%, 77% 25%, 80% 19%, 33% 15%, 22% 20%, 23% 27%) border-box;    
} 

.imagen-conejos-corriendo {
    clip-path: ellipse(32% 48% at 50% 50%);
    shape-outside: ellipse(32% 48% at 50% 50%)  border-box;
}


